<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.databases.IndexMapper">

	<resultMap type="Index" id="IndexResultMap">
		<result property="cate" column="CATE" />
		<result property="sub" column="SUB" />
		<result property="value" column="VALUE" />
	</resultMap>

	<select id="getIndexVal" resultMap="IndexResultMap">
		SELECT * FROM many_of_tabs
	</select>
	
</mapper>

